services:
  nginx:
    container_name: nginx-proxy
    image: nginx:latest
    ports:
      - "80:80"
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro

  web_server:
    container_name: web_server
    build:
      context: backend
      dockerfile: Dockerfile

