version "3.9"

services:
  nginx:
    container_name: nginx-proxy
    image: nginx:latest
    ports:
      - "80:80"
    restart: always

  web_server:
    container_name: web_server
    build:
      context: backend
      dockerfile: Dockerfile

